<!Doctype html>
<html>


<head>
    {% block head %}
        {% block meta %}
            <meta charset="utf-8" lang="en">
        {% endblock %}


        {% block title %}

            <title>
                {% if page.title %}
                    {{ page.title }}
                {% else %}
                    Stoke Stoves
                {% endif %}
            </title>
        {% endblock %}


        {# Foundation style sheet #}
        <link rel="stylesheet" href="{{ asset('css/app.css', 'theme') }}">

        {# This is used to include your own code for head #}
        {% block headincludes %}
        {% endblock %}
    {% endblock %}
</head>

<body>
{# Include your needed content inside the body#}
{% block body %}
{% endblock %}
</body>

</html>

