{% extends('partials/_base.twig') %}

{% block body %}
    {% include('partials/_header.twig') %}


    <h1>{{ record.title }}</h1>

    {{ record.teaser }}

    {{ popup(record.image, 1200, 500) }}

    {{ record.body }}

    {% include('partials/_footer.twig') %}
{% endblock %}
