<!Doctype html>
<html>


<head>
    {% block head %}
        {% block meta %}
            <meta charset="utf-8" lang="en">
        {% endblock %}



        <title>
            {% block headtitle %}
                {% if paths.current == paths.root %}
                    Home | Stoke Stoves
                {% else %}
                    {% if page.title is defined %}
                        {{ page.title }} | Stoke Stoves
                    {% else %}
                        Stoke Stoves
                    {% endif %}
                {% endif %}
            {% endblock %}
        </title>



        {# Foundation style sheet #}
        <link rel="stylesheet" href="{{ asset('css/app.css', 'theme') }}">

        {# This is used to include your own code for head #}
        {% block headincludes %}
        {% endblock %}
    {% endblock %}
</head>

<body>
<!-- Ask user to enable javascript if it is not enabled -->
<noscript>For full functionality of this page it is necessary to enable JavaScript. Here are the <a
            href="http://www.enable-javascript.com" target="_blank"> instructions how to enable JavaScript in your web
        browser</a></noscript>
{% block topbar %}
    {% include('partials/_topbar.twig') %}
{% endblock %}
{% block header %}
    {% include('partials/_header.twig') %}
{% endblock %}
{# Include your needed content inside the body#}
{% block body %}
{% endblock %}
{% block footer %}
    {% include('partials/_footer.twig') %}
{% endblock %}
{% block basescripts %}
    {% include('partials/_scripts.twig') %}
{% endblock %}
{% block extrascripts %}
{% endblock %}
</body>

</html>

