//Body Wide styles
//-----------------
body {
  font-family: "Reader Bold", Arial, "Helvetica Neue", Helvetica, sans-serif;
  height: auto;
  min-height: 100%;
}

.center {
  text-align: center;
}

//Navigation
//----------------
.p-nav {
  width: 100%;
}

#primary-nav .dropdown > li > a:not(:hover) {
  color: white;
}

#primary-nav .accordion-menu > li > a:not(:hover) {
  color: white;
}

//Bottom Navigation
//----------------
#bottom-nav {
  background: #231f20;
  padding-bottom: 50px;
  padding-top: 50px;
  color: white;

  a:not(:hover) {
    color: white;
  }

}

#stokeLogoTransparent {
  width: 80%;
  height: auto;
}

#footerLogo {
  margin-top: 10px;
}

#searchfooter {
  margin-bottom: 20px;
}

//Index Page (front page)
//---------------------------------
.fpcontent {
  position: relative;
  width: 100%;
  img {
    position: relative;
    width: 100%; /* for IE 6 */
  }

  .fpcontenttext {
    //font-size: 3em;
    text-align: center;
  }

  .fpwithimage {
    color: white;
    position: absolute;
    text-align: left;
    top: 20%;
    left: 20%;
    width: 80%;
  }

}

//News Front Page
//------------------------

#newsTitleWrapper {
  text-align: center;

  h2 {
    margin-top: 50px;
    margin-bottom: 30px;
    padding-right: 10px;
    padding-left: 10px;
    color: #006bb2;
    border: 2px solid #006bb2;
    display: inline-block;
  }

}

//New Entry
//-----------

#newsTitleContainer {

  background: #f2eeef;
  padding-top: 5%;
  padding-bottom: 5%;

  h1 {
    text-align: center;
    background: url("../media/images/black-line.jpg") repeat-x scroll center center rgba(0, 0, 0, 0);
    font-weight: bolder;
  }

  span {
    background: #f2eeef;
    padding-left: 3%;
    padding-right: 3%;
  }
}

.newsEntryContainer article {
  h1 {
    text-align: center;
    font-weight: bold;
    color: #0077c7;
  }


  img {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .orbit{
   height: 30%;
  }

  .newsOrbitDate {
    color: black;
  }

}

//More+Less JavaScript CSS
//---------------------
.morecontent span {
  display: none;
}

.morelink {
  display: block;
}

